.footer{
   width: 100%; 
   max-width: 1024px;
   font-size: 0.8rem;
}
.fLists{
display: flex;
width: 100%;
justify-content: space-between;
margin-bottom: 3rem;
}
.fList{
    list-style: none;
    padding: 0;
}
.fListItem{
    margin:0.7rem ;
    color:#003580;
    cursor: pointer;
}
.fText{
    text-align: center;
}