@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Slab:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap");

.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 1.2rem 0rem 6rem 0rem;
}
.headerContainer.listMode{
    margin: 1.2rem 0rem 3rem 0rem;
}
.headerList {
  display: flex;
  gap: 2.8rem;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.active {
  border: 1px solid white;
  padding: 0.6rem;
  border-radius: 1.2rem;
}
.headerDescription {
  margin: 1.2rem 0rem;
}
.headerBtn {
  background-color: #0071c2;
  color: white;
  border: none;
  padding: 0.4rem;
  font-weight: 500;
  cursor: pointer;
}
.headerSearch {
  height: 2.5rem;
  background-color: white;
  border: 0.2rem solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem 0rem;
  border-radius: 0.1rem;
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
  max-width: 1024px;
}
.headerIcon {
  color: lightgrey;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.headerSearchInput {
  border: none;
}
.headerSearchText {
  color: lightgrey;
  cursor: pointer;
}
.date {
  position: absolute;
  top: 2.4rem;
  z-index: 2;
}
.options {
  z-index: 2;
  position: absolute;
  top: 2.4rem;
  background-color: white;
  color: gray;
  border-radius: 0.1rem;
  -webkit-box-shadow: 4px 2px 15px -3px #000000;
  box-shadow: 4px 2px 15px -3px #000000;
}
.optionItem {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.9rem;
}
.optionBox {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1rem;
  color: black;
}
.optionCounterButton {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #0071c2;
  cursor: pointer;
  color: #0071c2;
  background-color: white;
}
.optionCounterButton:disabled{
    color:lightgray;
    border:1px solid lightgray;
    cursor: not-allowed;
}
